*{
    margin: 0;
    padding: 0;
}

section{
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    background: linear-gradient(to left, #680707, #f71313), url(../_imagens/banner2.jpg);
    background-blend-mode: darken;    
}
.apresentacao{
    position: relative;
    margin-left: 3%;
    max-width: 900px;
}
.apresentacao h1{

    margin-left: -3%;
    padding: 0;
    color: white;
    font-size: 3em;
    font-family: 'Kreon', serif;
}
.apresentacao p{
    color: white;
    font-size: 1.2em;
    margin-left: -3%;
    padding-top: 40px;
    font-family: 'Merriweather', serif;

}

.conteudo{
    margin-top: 60%;
}
.services {
    background: #f1f1f1;
    text-align: center;
    margin-top: 8%;
}
.services h2 {
    display: inline-block;/*Mantém a linha embaixo do texto do tamanho do mesmo*/
    text-transform: uppercase; /*Texto com letra maiúscula*/
    border-bottom: 4px solid #ff0000;/*Inserir borda abaixo do texto*/
    font-size: 20px;
    padding-bottom: 10px;
    position: relative; 
}
.cen {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.cards {
    display: inline-block;/*manter o texto em blocos*/
    width: calc(100% / 3);/*Dividir o texto em 3 partes*/
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;/*Exibe um cursor diferente ao passar com o mouse sobre o elem3nto*/
    transition: 0.4s; /*tempo de transição do efeito hover*/
}

.cards:hover {/*'hover', ao passao com o mouse por cima do elemento ele muda de cor*/
    background: #81818175;
}
.cards i { /*'service' é a classe, 'i' é a tag: esse comando mudou a cor do item*/
    color: #ff0000;
    font-size: 34px;
    margin-bottom: 30px;
}
.cards h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.cards/*classe*/ p/*tag*/ {
    color: gray;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;

}
/*Alterações responsivas para telas mais 'finas'*/
@media screen and (max-width: 800px) {
    .service {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .service {
        width: 100%;
    }
}
